<div class="index-card">
  <h3>Latest Posts</h3>
</div>

{% for post in site.posts limit:3 %}
  <div class="link-card">
    <p class="link-buttons">
      {% for tag in post.tags %}
        <button>{{ tag }}</button>
      {% endfor %}
     </p>
    <h4><b><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></b></h4>
    <p class="bloginfo">{{ post.author }} | {{ post.date | date_to_string }}</p>
    <p class="tagline"> {{post.tagline}} </p>
  </div>
{% endfor %}
<div class="link-card">
  <a hreh="/blog.html">See More</a>
</div>
