$accents:
  "green" #274e13 #38761d #b6d7a8,
  "teal" #0c343d #134f5c #a2c4c9,
  "orange" #783f04 #b45f06 #b45f06;

@each $color, $dark, $middle, $light in $accents {
  .#{$color} h1 {
    color: $middle;
  }

  .#{$color} .navbar {
    background-color: $dark;
  }

  .#{$color} button {
    background-color: $light;
    color: black;
    padding: 1px 6px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 3px;
    border: solid 1px gray;
  }
  
  .#{$color} .affiliate {
    color: $middle;
  }
}

