.green h1 {
  color: #38761d
}

.green .navbar {
  background-color: #274e13;
}

.green button {
    background-color: #b6d7a8;
    color: black;
    padding: 1px 6px;
    text-align: center;
    margin: 0px 0px;
    border-radius: 3px;
    border: solid 1px gray;
}
