/* ---------[ Global Style ] ----------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f7f7f7;
  color: #36454f;
}


/* ---------[ Header Style ] ----------------*/
.header {
  padding: 13px;
  text-align: left;
}

.header > #site-title {
   margin-block: auto;
   font-size: 30px;
   display: inline;
}

.header > #site-discription {
  font-size: 20px;
  margin-block: auto;
  color: #666;
  display: inline;
  margin-left: 20px;
}

/* ---------[ Navbar Style ] ----------------*/

.navbar {
  display: block;
  padding: 7px 0px;
  overflow: hidden;
  box-shadow: 0 8px 11px -6px grey;
}

.navbar > .nav-button {
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

a.nav-button:hover, a.nav-button:active {
  background-color: LightGray;
  color: #36454f;
}

/* ---------[ Card Base Style ] ----------------*/
.card h1 {
  font-family: "Roboto";
}

.card h2 {
  font-family: "Roboto";
}

.card h3 {
  font-family: "Roboto";
}

.card h4 {
  font-family: "Roboto";
}

.card p {
  font-family: "Lora";
}


/* ---------[ Paginate Style ] ----------------*/

span.paginate {
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  padding: 8px 16px;
}

span.page_number {
  margin: 5%;
}

a.paginate {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
}

a.paginate:hover {
  background-color: #ddd;
  color: black;
}

div.paginate {
  margin: auto;
  text-align: center;
}



/* ---------[ _____ Style ] ----------------*/

img.headshot {
  max-width: 100%;
  border-radius:4px;
} 
i.affiliate {
   font-size:42px;
   color: #262626;
   padding-right: 10px;
}

a.affiliate {
  text-decoration: none;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   padding: 20px;
   margin-top: 20px;
}

.index-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%; 
}

.post-card {
  margin: 50px auto;
  width: auto;
  max-width: 750px;
}

.link-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  transition: box-shadow 500ms;
  border-bottom: solid 1px lightgray;
}

.link-card h4 {
  display:inline;
}

.link-card:hover {
  box-shadow: 0 13px 17px -15px #555;
}

.link-card:hover a.post-link {
  color: 	#BF5700;
  font-weight: bold;
}

.link-buttons {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

a.post-link {
  text-decoration: none;
  color: #111;
  transition: color 500ms;
}

p.tagline {
  margin: auto;
  font-size: small;
  color: gray;
}

p.bloginfo {
  font-size: small;
  display:inline;
}

.post-body h1, .post-body h2 {
  border-bottom: 1px solid #d7d8c8;
}

.post-body {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align:justify;
  word-spacing:-1px;
}

@media screen and (max-width: 700px) {
  .post-body > p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: left;
  }
}

.post-header h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 93%;
  letter-spacing: -0.045em;
  margin: auto;
}

.post-header p {
   font-size: 25px;
   margin-block: 1%;
   color: #666;
   font-family: 'Helvetica', 'Arial', sans-serif;
   line-height: 95%;
}

.post-info {
  padding-bottom: 30px;
  box-shadow: 0 13px 17px -21px #555
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}



.post-body p:first-child:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}
