---
layout: blogtemplate
title: My Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="card link-card">
<p class="link-buttons">
  {% for tag in post.tags %}
    <button>{{ tag }}</button>
  {% endfor %}
 </p>
<h4><b><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></b></h4>
<p class="bloginfo">{{ post.author }} | {{ post.date | date_to_string }}</p>
<p class="tagline"> {{post.tagline}} </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="card pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url}}" class="paginate">
      &laquo; Previous
    </a>
  {% else %}
    <span class="paginate">&laquo; Previous</span>
  {% endif %}
  <span class="page_number ">
    { paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url}}" class="paginate">Next</a>
  {% else %}
    <span class="paginate">Next &raquo;</span>
  {% endif %}
</div>
