<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' |  relative_url }}">
  </head>
  <body class="{{ site.accent }}">
    {% include header.html %}
    {% capture post_content %}
      <div class="card index-card">
      {{content}}
      </div>
      <h1>Latest Posts</h1>
      {% for post in site.posts %}
      <div class="card link-card">
        <p class="link-buttons">
        {% for tag in post.tags %}
           <button>{{ tag }}</button>
        {% endfor %}
        </p>
        <h4><b><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></b></h4>
        <p class="bloginfo">{{ post.author }} | {{ post.date | date_to_string }}</p>
        <p class="tagline"> {{post.tagline}} </p>
      </div>
      {% endfor %}
    {% endcapture %}
    
    {% include columns.html content=post_content %}
    {% include footer.html %}
  </body>
</html>
