
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' |  relative_url }}">
  </head>
  <body>
    {% include header.html %}
    {% capture post_content %}
      <div class="post-header">
        <h1>{{ page.title }}</h1>
        <p> {{page.tagline}} </p>
        <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
        <p>{{ page.tags }}</p>
      </div>
      <div class="post-body">
        {{ content }}
      </div>
    {% endcapture %}
    {% include columns.html content=post_content %}
    {% include footer.html %}
  </body>
</html>
